.fon{
    width: 100%;
    height: 130px;
    position: relative;
}
@keyframes Animation {
   from {background: url(sprite.jpg) no-repeat 0px 0px;}
   to {background: url(sprite.jpg) no-repeat -700px 0px;}
}
@keyframes Animation1 {
    from {background: url(sprite.jpg) no-repeat 0px -130px;}
    to {background: url(sprite.jpg) no-repeat -700px -130px;}
 }
 @keyframes Animation2 {
    from {background: url(sprite.jpg) no-repeat 0px -260px;}
    to {background: url(sprite.jpg) no-repeat -500px -260px;}
 }

.anim{
    width: 100px;
    height: 130px;
    animation: Animation 3s steps(8) infinite,
    Animation2 3s steps(8) infinite,
    Animation3 3s steps(6) infinite
    ;
}