*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.head{
    text-align: center;
    font-size: 24px;
    font-weight: bolder;
    color: rgb(0, 0, 255);
    background-color: rgb(124, 124, 233);
    padding: 20px;
}

.fon{
    background: url(img/fon.gif)repeat-y -40px,
                url(img/ball.gif)repeat-y top right; 
}
.menu{
    font-size: 14px;
    width: 140px;
    float: left;
}


.content{
    margin-left: 145px;
    margin-right: 10px;
    
}
.footer{
    text-align: center;
    font-size: 24px;
    font-weight: bolder;
    color: rgb(0, 0, 255);
    background-color: rgb(124, 124, 233);
    padding: 20px;
}