*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#article{
    width: 100%;
    position: absolute;
    left: 20%;  
}
select{
    position: absolute;
    left: 20%;
}
.public{
position: absolute;
left: 20%;
}
textarea{
    width: 400px;
    height: 50px;
}
[type=submit]{
    width: 100px;

}