@media all and (max-width: 1060px){
  .menu_nav li{
    padding: 0px 6px 0px 30px;
   }
}

@media all and (max-width: 990px){
  .contain{
    max-width: 960px;
  }
  .header{
    background-color: transparent;
  }
   .header_menu{
    display: none;
   }
   .head_menu a{
    display: none;
   }
   .head__menu-item a{
    display: none;
   }
   .head__search{
    margin: 20px 297px 0px 284px;
   }
   .head__search-menu .hamburger_menu{
    margin: 45px 0px 45px 0px;
   }
   .hamburger_menu{
    display: unset;
   }
   .search {
  position: relative;
  margin: 20px 497px 0px 284px;
   }
   .search_item a{
    display: unset;
   }
    .search_item span{
    display: unset;
   }
   .menu_nav li{
    padding: 0px 6px 0px 30px;
   }
   .carousel-item:nth-of-type(1){
    background: url(../img/png/sofa_960px.png) no-repeat 299px 56px,
                url(../img/png/image\ 4_960px.png) no-repeat 810px 3px, 
                url(../img/jpg/bg-slider_960.jpg) no-repeat;
    width: 960px;          
    height: 327px;
  }
  .carousel-item:nth-of-type(2){
    background: url(../img/jpg/banner_2.jpg);
    width: 960px;          
    height: 327px;
  }
  .carousel-item:nth-of-type(1) h1{
    display: none;
  }
  .carousel-item:nth-of-type(1) p{
    display: none;
  }
  .carousel-item:nth-of-type(1) a{
    position: absolute;
    left: 58px;
    top: 178px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #000000;
  }
  .carousel-control-next{
    width: 3.5%;
    display: inline-block;
    position: absolute;
    top: unset;
    bottom: 24px;
    right: 24px;
    background: #FFFFFF
  }
  .carousel-control-prev{
    width: 3.5%;
    display: inline-block;
    position: absolute;
    top: unset;
    left: unset;
    bottom: 24px;
    right: 58px;
    background: rgba(255, 255, 255, 0.38)
  }
  .carousel-item:nth-of-type(1) h2{
    display: unset;
  }
  .menu_nav > li span{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #414141;
  }
  .carousel-inner{
    margin-top: 20px;
  }
   .menu_nav li:nth-child(7){
    display: none;
   }
   ul.catalog li:nth-child(4n+4){
    margin-right: 30px;
  }
   ul.catalog li:nth-child(3n+3){
    margin-right: 0px;
  }
}

@media all and (max-width: 768px){
  .contain{
    max-width: 768px;
  }
  .breadcrumb,
  .wrap,
  .menu_nav,
  .carousel,
  .catalog{
    max-width: 720px;
    margin-left: auto;
    margin-right: auto;
  }
  div > h2{
    max-width: 720px;
    margin-left: auto;
    margin-right: auto;
  }
  .header{
    background-color: transparent;
  }
   .header_menu{
    display: none;
   } 
   .hamburger_menu{
    display: unset;
   }
   .head__search{
    margin: 20px 302px 0px 223px;
   }
   .search {
  position: relative;
  margin: 20px 302px 0px 223px;
   }
   .search_item a{
    display: none;
   }
    .search_item span{
    display: unset;
   }
   .menu_nav li{
    padding: 0px 6px 0px 30px;
   }
   .menu_nav li:last-child .menu_nav_level2{
    position: absolute;
    left: -100px;
   }
   .menu_nav li .menu_nav_level2{
    width: 174px;
   }
   .menu_nav li .menu_nav_level2 a {
    padding: 15px;
  }
   .carousel-item:nth-of-type(1){
    background: url(../img/png/sofa_768px.png) no-repeat 227px 42px,
                url(../img/png/image\ 4_768px.png) no-repeat 610px 2px, 
                url(../img/jpg/bg-slider_768px.jpg) no-repeat;
    width: 720px;          
    height: 253px;
  }
  .carousel-item:nth-of-type(2){
    background: url(../img/jpg/banner_2.jpg);
    width: 720px;          
    height: 253px;
  }
  .carousel-item:nth-of-type(1) h1{
    display: none;
  }
  .carousel-item:nth-of-type(1) h2{
    position: absolute;
    left: 43px;
    top: 51px;
  }
  .carousel-item:nth-of-type(1) p{
    display: none;
  }
  .carousel-item:nth-of-type(1) a{
    position: absolute;
    left: 43px;
    top: 157px;
    padding: 14px 15px 14px 15px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #000000;
  }
  .carousel-control-next{
    width: 3.5%;
    display: inline-block;
    position: absolute;
    top: unset;
    bottom: 15px;
    right: 12px;
    background: #FFFFFF
  }
  .carousel-control-prev{
    width: 4.5%;
    display: inline-block;
    position: absolute;
    top: unset;
    left: unset;
    bottom: 15px;
    right: 38px;
    background: rgba(255, 255, 255, 0.38)
  }
  .carousel-item:nth-of-type(1) h2{
    display: unset;
  }
   .menu_nav li:nth-child(7),
   .menu_nav li:nth-child(6){
    display: none;
   }
   .catalog  li {
    width: 220px;
   }
   .name_size-btn{
    width: 220px;
   }
   .name_size-btn button{
    width: 180px;
   }
   .name_size-btn span.name_size{
    margin-right: 10px;
   }
   .name_size-btn span {
    margin-left: 71px;
  }
  .name_size-btn span.size{
    margin-right: 24px;
  }
   .catalog img {
    margin: 74px 32px 0px 31px;
    width: 160px;
    height: 120px;
  }
  .catalog h1 {
    font-size: 14px;
    line-height: 16px;
  }
  .catalog h3 {
    font-size: 14px;
    line-height: 16px;
  }
   ul.catalog li:nth-child(4n+4){
    margin-right: 30px;
  }
   ul.catalog li:nth-child(3n+3){
    margin-right: 0px;
  }
  .wrap{
    flex-direction: column;
  }
}
@media all and (max-width: 320px){
  .head__menu-item{
    padding: 25px 0px 0px 0px;
  }
  .head__logo{
    padding: 25px 0px 0px 0px;
  }
  .head__menu-item span{
    display: none;
   }
   .head__search{
    margin: 0px 15px 15px 15px;
   }
   .head__search-menu .hamburger_menu{
  margin: 15px 0px;
   }
  .search_item span{
    display: none;
  }
  .head__menu-item svg{
    margin: 0px 0px 0px 20px;
  }
  .head__search button{
    top: 32px;
  }
  .search_item svg{
    margin: 0px 0px 0px 20px;
  }
  .search{
    margin: 15px;
  }
  .search button{
    top: 47px;
  }
  .menu_nav{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    box-shadow: none;
    gap: 7px;
    margin: 15px;
  }
  .menu_nav > li span{
    padding: 0px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 9px;
    line-height: 11px;
    color: #414141;
  }
  .menu_nav > li{
    display: grid;
     grid-template-rows: repeat(2, 1fr);
     gap: 5px 0px;
     justify-items: center;
    padding: 0px;
  }
  .menu_nav > li:last-child svg{
    margin: 0px;
    box-sizing: content-box;
    padding: 17px 15px;
  }
  .menu_nav li .menu_nav_level2 a{
    font-size: 12px;
  }
  .menu_nav > li svg{
    left: 0px;
    box-sizing: content-box;
    padding: 14px 14px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.07);
  }
     .catalog  li {
    width: 145px;
   }
   .name_size-btn{
    width: 145px;
   }
   .name_size-btn button{
    width: 105px;
    font-size: 10px;
   }
   .name_size-btn span.name_size{
    font-size: 9px;
    line-height: 11px;
    margin: 0px 0px 5px 3px;
   }
   .name_size-btn span {
     font-size: 9px;
    line-height: 11px;
    margin-left: 42px;
  }
  .name_size-btn span.size{
     font-size: 9px;
    line-height: 11px;
    margin: 0px 0px 10px 14px;
  }
   .catalog img {
    margin: 74px 32px 0px 31px;
    width: 95px;
    height: 71px;
  }
  .catalog h1 {
    font-size: 13px;
    line-height: 15px;
  }
  .catalog h3 {
    font-size: 13px;
    line-height: 15px;
  }
  .catalog h4{
    font-size: 11px;
  }
   ul.catalog li:nth-child(4n+4){
    margin-right: 0px;
  }
   ul.catalog li:nth-child(3n+3){
    margin-right: 13px;
  }
  ul.catalog li{
    margin-right: 13px;
  }
  ul.catalog li:nth-child(2n+2){
    margin-right: 0px;
  }
  
}