
.clearfix:after {
     content: ""; display: block; clear: both 
}
.header{
    background-color: #313131;
}
.container{
    width: 1140px;
    margin: 0px auto;
}
.container .head{
    list-style: none;
}
.head a{
    padding: 10px 30px 12px 0px;
    float: left;
    text-decoration: none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
}
.menu_right{
    float: right;
    margin-top: 10px;
}
.menu_right a{
    padding: 0px 30px 12px 0px;
    text-decoration: none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
}
.menu_right span{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
}
.menu_right a::before{
    content: url(../img/svg/phone.svg);
    vertical-align: middle;
    padding-right: 10px;
    
}
.menu_right span::before{
    content: url(../img/svg/delivery-icon.svg);
    vertical-align: middle;
    padding-right: 10px;
}

.logo{
    float: left;
    padding-top: 12.5px;
}
.search{
    position: relative;
    margin: 20px 150px 0px 150px;
}
.search input{
    width: 100%;
    height: 50px;
}
.search input[placeholder]{
    padding: 17px 0px 17px 49px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #414141;
}
.search button{
    padding: 18px 20px 18px 15px;
    background: none;
    border: none;
    position: absolute;
    left: 0px;
    top: 0px;
}
.search_item{
    float: right;
    padding-top: 12.5px;
}
.search_item svg{
    padding: 0px 30px 0px 0px;
}
.search_item svg:last-child{
    padding: 0px 0px 0px 0px;
}

.menu_nav{
    height: 70px;
    margin-top: 20px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.07);
}
.menu_nav li{
float: left;
position: relative;
height: 70px;
}


.menu_nav > li span{
    padding: 25px 10px 20px 40px;
    display: inline-block;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #414141;
}
.menu_nav > li svg:not(:last-child){
    position: relative;
    top: 5px;
    left: 34px;
}

.menu_nav > li:hover {
    background-color: #245462;
}

.menu_nav > li:hover .menu_nav_level2{
    display: block;
    transition: 3s;
}

.menu_nav li .menu_nav_level2 {
    list-style: none;
    display: none;
    position: absolute;
    top: 68px;
    left: 0px;
    width: 190px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.07);
}
.menu_nav li .menu_nav_level2 a{
    display: block;
    text-decoration: none;
    padding: 25px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #414141;
}
.menu_nav li:hover span {
    color: #FFFFFF;
}
.menu_nav li:hover svg path {
    fill: #FFFFFF;
}
.menu_nav > li:nth-child(7) span {
    color: #D74444;
}
.menu_nav > li svg:last-child {
    padding: 28px 0px 28px 37px;
}