.header {
  background: url(../img/main/jpg/main_image.jpg) no-repeat;
  background-size: cover;
  height: 100vh;
  position: relative;
  margin-bottom: 100px;
}

.header__menu-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 32px;
}

.header__logo {
  display: flex;
  margin-right: 179px;
  align-items: center;
}

.header__icon {
  margin-right: 12px;
}

.header__text {
  font-size: 12px;
  font-weight: 400;
  color: #fff;
}

.header__langs {
  display: flex;
  align-items: center;
}

.header__lang-link {
  color: #fff;
  margin-left: 16px;
  font-size: 20px;
  font-weight: 700px;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.header__link {
  text-decoration: none;
  color: #fff;
  font-size: 28px;
  font-weight: 700px;
  line-height: 150%;
}

.header__link-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 155%;
  letter-spacing: 0.02em;
  color: #ffffff;
}

.header__btn-coast {
  @include main-btn;
}

.header__btn-icon {
  position: absolute;
  top: 21px;
  right: 37px;
}

.header__title {
  margin: 295px 0px 56px 0px;
  font-weight: 700;
  font-size: 64px;
  line-height: 115%;
  letter-spacing: 0.02em;
  color: #ffffff;
}

.header__btn-start {
  @include main-btn;
  margin-bottom: 189px;
}

.header__certificate {
  padding-bottom: 85px;
  font-weight: 700;
  font-size: 20px;
  line-height: 140%;
  letter-spacing: 0.02em;
  color: #ffffff;
}

/* бургер меню */
.burger-menu {
  position: fixed;
  left: 0;
  top: 0;
  width: 100px;
  height: 100vh;
  z-index: 2;
  border-right: 1px solid rgba(58, 58, 58, 0.15);
}

.burger-menu__btn-open {
  background-color: transparent;
  outline: none;
  border: none;
  margin-top: 36px;
  margin-left: 36px;
}

.header-bg-menu {
  position: fixed;
  top: 0;
  left: -200%;
  width: 100%;
  height: 100vh;
  transition: 0.7s ease-in;
  background-color: #fff;

  &__btn-close {
    position: absolute;
    top: 37px;
    left: 36px;
  }

  & .header__menu-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 32px;
  }

  .header__logo {
    display: flex;
    margin-right: 179px;
    align-items: center;
  }

  .header__icon {
    stroke: #000;
    margin-right: 12px;

    & path {
      fill: #000;
    }
  }

  .header__text {
    color: #000;
    font-size: 12px;
    font-weight: 400;
  }

  .header__langs {
    display: flex;
    align-items: center;
  }

  .header__lang-link {
    color: #000;
    margin-left: 16px;
    font-size: 20px;
    font-weight: 700px;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  .header__link {
    text-decoration: none;
    color: #000;
    font-size: 28px;
    font-weight: 700px;
    line-height: 150%;
  }

  .header__link-text {
    color: #000;
    font-weight: 400;
    font-size: 16px;
    line-height: 155%;
    letter-spacing: 0.02em;
  }

  .header__btn-coast {
    @include main-btn;
    color: #fff;
    background-color: #000;
  }

  .header__btn-icon {
    position: absolute;
    top: 21px;
    right: 37px;
    & path {
      fill: #fff;
      stroke: #fff;
    }
  }
}

.header-bg-menu_active {
  left: 0;
  transition: 0.7s ease-in;
}

.bg-menu {
  &__items {
    margin-top: 96.5px;
    margin-bottom: 80px;
  }

  &__item {
    margin-bottom: 40px;

    &:last-child {
      margin-bottom: 0px;
    }
  }

  &__link {
    text-decoration: none;
    font-weight: 700;
    font-size: 40px;
    line-height: 130%;
    letter-spacing: 0.03em;
    color: #000000;

    &:hover {
      color: #828282;
    }
  }
}

.bg-social {
  &__adress {
    width: 523px;
    margin-bottom: 32px;
    font-weight: 700;
    font-size: 28px;
    line-height: 130%;
    letter-spacing: 0.03em;
    color: #000000;
  }

  &__mail {
    display: inline-block;
    margin-bottom: 32px;
    text-decoration: none;
    font-weight: 700;
    font-size: 28px;
    line-height: 130%;
    letter-spacing: 0.03em;
    color: #000000;
  }

  &__icons {
    padding-bottom: 97.5px;
  }

  &__link {
    text-decoration: none;
    margin-right: 24px;
  }
}
/* сервисы */

.services {
  &__title {
    width: 1023px;
    font-size: 64px;
  }

  &__wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
.item-services {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 200px;

  &__icon {
  }

  &__text {
    padding-left: 32px;
    margin-left: 32px;
    width: 335.67px;
    height: 90px;
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: 0.03em;
    border-left: 1px solid rgba(58, 58, 58, 0.15);
  }
}

/* block Info */

.info {
  &__wrap {
    padding-bottom: 100px;
    display: flex;
    justify-content: space-between;
    background: url(../img/main/svg/bg_simbol.svg) no-repeat 100% 123%;
  }
}
.column {
  &__subtitle {
    max-width: 820px;
    font-weight: 700;
    font-size: 28px;
    line-height: 130%;
    letter-spacing: 0.03em;
  }

  &__text {
    max-width: 820px;
    font-weight: 400;
    font-size: 18px;
    line-height: 175%;
    letter-spacing: 0.03em;
    color: #2c2c2c;
    padding-top: 32px;
  }

  &__item {
    display: flex;
    align-items: center;
    &:not(:last-child) {
      padding-bottom: 32px;
    }
  }

  &__icon {
    margin-right: 32px;
  }
}

/* Logistics section */

.logistics {
  position: relative;

  &__fon {
    display: inline-block;
    width: 100%;
    height: 588px;
    position: relative;
    z-index: 1;
    background: url("../img/main/jpg/log__fon.jpg")no-repeat;
    background-size: contain;
 
  }

  &__inner {
    position: relative;
    z-index: 2;
    background-color: #fff;
    padding: 100px 100px 100px 100px;
  }

  &__wrap {
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
  }

  &__column {
    max-width: 720px;
    flex: 1 1 auto;
  }

  &__subtitle {
    padding-bottom: 32px;
    font-weight: 700;
    font-size: 28px;
    line-height: 130%;
    letter-spacing: 0.03em;
    color: #000000;
  }

  &__text {
    padding-bottom: 40px;
    font-weight: 400;
    font-size: 18px;
    line-height: 175%;
    letter-spacing: 0.03em;
    color: #2c2c2c;
  }

  &__item {
    display: flex;
    align-items: center;
    padding-bottom: 32px;
  }
  &__icon {
    flex: 0 0 auto;
    margin-right: 32px;
  }
  &__desc {
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: 0.03em;
    color: #2c2c2c;
  }

  &__button-wrap {
    text-align: center;
    padding: 40px 0px;
    border-bottom: 1px solid gray;
    border-top: 1px solid gray;
  }

  &__button-text {
    font-style: italic;
    font-weight: 400;
    font-size: 24px;
    line-height: 145%;
    text-align: center;
    letter-spacing: 0.03em;
    color: #2c2c2c;
  }

  &__btn {
    @include main-btn;
    margin-top: 47px;
    padding: 15px 40px;
    background-color: #000;
    font-weight: 700;
    font-size: 16px;
    line-height: 155%;
    text-align: center;
    letter-spacing: 0.02em;
    color: #ffffff;
  }

  &__img {
    padding-left: 65px;
    padding-bottom: 91px;
  }
}

/* Карточки услуг */

.serv {
  &__container {
    padding: 100px 0px 100px 100px;
  }
  &__wrap {
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
  }
}

.card {
  padding: 32px 48px 48px 48px;
  color: #000000;

  &__title {
    padding-bottom: 32px;
    margin-bottom: 32px;
    border-bottom: 1px solid #f3f1f1fe;
    font-weight: 700;
    font-size: 28px;
    line-height: 130%;
    letter-spacing: 0.03em;
    color: inherit;
  }

  &__list {
    max-width: 336px;
    list-style: disc;
    margin-left: 20px;
  }

  &__link {
    font-weight: 400;
    font-size: 18px;
    line-height: 175%;
    letter-spacing: 0.03em;
    padding-bottom: 14px;
    color: inherit;
    &:hover {
      text-decoration-line: underline;
      transition: 0.3s;
    }
  }

  &:nth-child(1) {
    flex: 0 0 auto;
    width: 744px;
    height: 620px;
    background: url("../img/main/svg/card1_img.svg") no-repeat right -15px,
      url("../img/main/svg/bg_simbol.svg") no-repeat 487px 394px, #ffcb58;
  }
  &:nth-child(2) {
    width: 408px;
    height: 620px;
    background: url("../img/main/svg/card2_img.svg") no-repeat 102px 206px,
      url("../img/main/svg/bg_simbol.svg") no-repeat 189px 394px, #ffcb58;
  }
  &:nth-child(3) {
    width: 408px;
    height: 620px;
    background: url("../img/main/svg/card3_img.svg") no-repeat 118px 248px,
      url("../img/main/svg/bg_simbol.svg") no-repeat 189px 394px, #ffcb58;
  }
  &:nth-child(4) {
    width: 520px;
    height: 402px;
    background: url("../img/main/svg/card4_img.svg") no-repeat 193px 117px,
      url("../img/main/svg/bg_simbol.svg") no-repeat 189px 181px, #ffcb58;
  }
  &:nth-child(5) {
    width: 520px;
    height: 402px;
    background: url("../img/main/svg/card5_img.svg") no-repeat 193px 117px,
      url("../img/main/svg/bg_simbol.svg") no-repeat 189px 181px, #ffcb58;
  }
  &:nth-child(6) {
    width: 520px;
    height: 402px;
    background: url("../img/main/svg/bg_simbol.svg") no-repeat 189px 181px, #ffcb58;
  }
  &:hover {
    background-color: #000;
    color: #fff;
  }
}

/* менеджер */
