* {
  padding: 0;
  margin: 0;
}

body {
  @include main-font;
}
a{
  text-decoration: none;
  color: inherit;
}


.container {
  max-width: 1650px;
  margin: 0 auto;
  padding: 0 0 0 100px;
}

.title {
  font-weight: 700;
  font-size: 56px;
  line-height: 115%;
  letter-spacing: 0.02em;
  color: #000000;
  position: relative;
  &::after {
    content: "";
    display: block;
    margin: 48px 0px 80px 0px;
    width: 115px;
    height: 10px;
    background: #ffcb58;
  }
}

